{% extends 'base.html' %}
{% load static %}

{% block title %} Post create {% endblock %}

{% block content %}


<div style="margin-top: 40px">
    <form id="CreateForm" action="" method="POST" >
        {% csrf_token %}

        {% if not created %}
        <div>
          {{ form.as_p }}
        </div>
        <div style="margin-top: 5px">
        <button type="submit"> Create post</button>
        </div>
        <h5 id="myhfive"> </h5>
    </form>
    {% else %}

    <h3> You created an object <a href="/posts/{{ post_object.id }}"> {{ post_object }}</a> </h3>

    {% endif %}

    <button onclick="mainFunction()">Click me </button>
    <br>
    {% if message  %}
    <p>{{ message  }}</p>
    {% endif %}
</div>
<script src="{% static 'js/main.js'  %}"> </script>
{% endblock  %}
